body{
  background-color: #F3F3F3;
  font-family: 'Work Sans', sans-serif;  

}
.hide{
  opacity: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
  overflow: hidden!important;
}
.hide2{
  display: none;
}
header{
  display: flex;
  justify-content: space-between;

  nav{
    display: flex;
    align-items: center;
    li{
      list-style: none;
      margin: auto 10px;
      padding-right: 10px;
      padding-left: 10px;
      cursor: pointer;
    }
    li:nth-child(2){
      border-right: 1px solid black;
      border-left: 1px solid black;
      padding-right: 20px;
      padding-left: 20px;
      margin: 0;
    }
    span{
      margin: 22px 0 18px 5px;
      border-left: 1px solid black;
      padding-left: 5px;
      font-weight: 200;
    }
    .circulo{
      width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 100px;
    background-color: #95d1ce;
  }
  h1{
    font-weight: 600;
    font-size: 22px;
    letter-spacing:-.5px;
    cursor: pointer;
  }
  span{
    cursor: pointer;
  }
}
}
main{
  opacity: 1;
  margin: 100px auto;
  transition: 1s ease-in;
  .contenedor{
    display: flex;
    justify-content: center;
    figure{
      width: 35%;
      img{
        width: 100%;
        border-radius: 300px;
      }
    }
    .contenedor_informacion{
      width: 40%;
      .texto{
        h2{
          font-size: 100px;
          font-weight: 600;
          margin-top: 40px;
          margin-bottom: 10px;
          margin-left: -5px;
        }
        h3{
          font-size: 22px;
          font-weight: 600;
          margin-bottom: -10px;
        }
        p{
          letter-spacing: 1px;
          font-weight: 400;
          line-height: 24px;
          color: black;
        }
      }
    }
  }
}

.proyectos{
  opacity: 1;
  margin: 100px;
  transition: 1s ease-in;

  h2{
    margin-left: 6%;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  figure{
    i{
      padding-top: 10px;
      font-size: 20px;
      display: none;
    }
    i:nth-child(1){
      margin-right: 5px;
    }
    a{
      color: rgb(92, 91, 91);
    }
  }
  
  .container-proyectos{
    .proyecto{
      width: 88%;
      margin: auto;
      display: flex;
      .texto{
        width: 70%;
        h3{
          font-size: 30px;
        }
        p{
          text-align: justify;
        }
        a{
          color: black;
          font-weight: bold;
          text-decoration: none;
        }
      }
      figure{
        width: 60%;
        align-self: flex-end;
        img{
          width: 100%;
        }
      }
    }
    .proyecto:hover i {
      display: inline-block;
    }
  }
}
.habilidades{
  margin:100px ;
  opacity: 1;
  transition: 1s ease-in;

  h2{
   
    margin-left: 6%;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
  }
  .habilidades-blandas{
    display: flex;
    justify-content: space-around;
    h3{
      font-size: 30px;
      width:300px ;
    }
    .habilidad{
      width: 50%;
      text-align: justify;
      margin-top: 14px;
      .item{
        h4{
          font-size: 20px;
          margin-bottom: 6px;
        }
      }
    }
  }
  
}

.links{
  display: flex;
  .circulo-links{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
    transition: background .5s;
  }
  
  .circulo-links:first-child{
    background-color: #006d68;
    color: white;
    margin-left: 0;
  }
  .circulo-links:first-child:hover{
    background-color: #006d67bc;
  }
  .circulo-links:nth-child(2){
    background-color: #009da0;
    color: white;

  }
  .circulo-links:nth-child(2):hover{
    background-color: #009da0bf;
  }
  .circulo-links:nth-child(3){
    background-color:  #a0e7fd;
    color: white;

  }
  .circulo-links:nth-child(3):hover{
    background-color: #a0e7fdbc;
  }
  
  a{
    text-align: center;
    margin: auto 5px;
  }
}
body > section > hr{
  width: 90%;
}
hr{
  width: 80%;
  border-top: 1px solid rgba(119, 116, 116, 0.463);
}

.contacto{
  opacity: 1;
  transition: 1s ease-in;
  margin:50px auto ;

  .container{
    display: flex;
    justify-content: center;
    figure{
      margin-left: -70px;
    }
    .contact{
      text-align: center;

    }
  }
}
.bienvenida__texto{
  display: flex;
  width: 370px;
 
}
.formulario {
  width: 100% !important;
  background: #f1f1f1;
  padding: 40px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
    h2 {
      text-align: center;
      margin-bottom: 10px;
      color: #333;
      font-weight: 600;
    }
}

select, textarea {
  border: none;
  background: none;
  color: gray;
}
textarea{
  width: 100%;
}


.box-input {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 20px 0;
  input {
    font-size: 16px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
  }
}

.focus + span::before {
  top: -5px;
}

.focus + span::after {
  width: 100%;
}

.boton {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #48bb78;
  border: solid 2px #48bb78;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.boton:hover {
  background-color: #2F855A;
  border: solid 2px #2F855A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mensaje{
  display: flex;
  align-items: center;
  background-color: #231f20;
  height: 200px;
  p{

    color: white;
    font-size: 26px;
    @media(max-width:500px){
      font-size: 18px;
    }
  }
}



footer{
 .contacts{
  display: flex;
  justify-content: space-evenly;
 .contact:nth-child(4){
  p:nth-child(1){
    margin-bottom: 18.70px;
  }
 }
  
 }
  .social{
    display: flex;
    justify-content:center;
    margin-top: 0px;
    i{
      font-size: 20px;
      color: rgb(84, 83, 83);
      margin: auto 10px;
    }
    i:nth-child(1){
      margin-left: 0;
    }
  }
}